*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
body{
    background-color: #ededed;
}
.navbar{
    background-color: #384959;
    color: white;
    display: flex;
    height: 70px;
    align-items: center;
    position: sticky;
    width: 100%;
}
.navbar img{
    height: 90px;
    width: 120px;
    margin-right: 10px;
    margin-top: 15px;
}
.navbar h3{
    color:  #ddd;
    font-size: 18px;
    margin-left: 10px;
    margin-top: 40px;
    margin-right: 300px;
}
.nav-list a{
    font-family: Arial, Helvetica, sans-serif;
    color: #BDDDFC;
    display: inline-flex;
    font-size: 20px;
    margin-right: 35px;
    text-decoration: none;
}
.nav-list a:hover{
    color: white;
    text-decoration: underline;
}
.nav-list a:active{
    color: rgb(153, 203, 164);
}
.navbar button{
    background-color: #88bdf2;
    color: #384959;
    font-size: 14px;
    font-weight: bolder;
    height: 50px;
    width: 120px;
    margin-left: 100px;
    cursor: pointer;
    border-radius: 7px;
    border: none;
}
.navbar button:hover{
    background-color: #ddd;
}
.navbar button:active{
    background-color: rgb(153, 203, 164);
}
.cards{
    display: flex;
    flex-wrap: wrap;
}
.cards div{
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    width: 200px;
    height: 100px;
    text-align: center;
    margin: 50px 22px 20px 50px;
}
.cards h2{
    color: #03386d;
}
.cards p{
    width: 200px;
    padding-top: 14px;
    color: #012243;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.footer{
    height: 40px;
    background-color: #384959;
    color: white;
    text-align: center;
    padding-top: 22px;
}